[submodule "Universal_Robots_ROS_Driver"]
	path = Universal_Robots_ROS_Driver
	url = https://github.com/UniversalRobots/Universal_Robots_ROS_Driver.git
[submodule "universal_robot"]
	path = universal_robot
	url = https://github.com/fmauch/universal_robot.git
	branch = calibration_devel
[submodule "robotiq"]
	path = robotiq
	url = https://github.com/TripleSBinPicking/robotiq.git
	branch = kinetic-devel
[submodule "Deep_Object_Pose"]
	path = Deep_Object_Pose
	url = https://github.com/TripleSBinPicking/Deep_Object_Pose.git
	branch = ros-kinetic
