<?xml version="1.0" ?>
<robot xmlns:xacro="http://wiki.ros.org/xacro" name="camerasim" >
    <xacro:arg name="add_plug" default="false"/>
    <xacro:include filename="$(find realsense2_description)/urdf/_d435.urdf.xacro"/>

    <xacro:macro name="camerasim" params="prefix:=camera *origin parent">
        <xacro:sensor_d435 name="${prefix}" parent="${parent}" use_nominal_extrinsics="true">
            <xacro:insert_block name="origin"/>
        </xacro:sensor_d435>

        <gazebo reference="${prefix}_link">
            <sensor type="camera" name="d435_sim">
                <update_rate>30.0</update_rate>
                <camera name="head">
                    <horizontal_fov>1.3962634</horizontal_fov>
                    <image>
                        <width>1920</width>
                        <height>1080</height>
                        <format>R8G8B8</format>
                    </image>
                    <clip>
                        <near>0.02</near>
                        <far>300</far>
                    </clip>
                    <noise>
                        <type>gaussian</type>
                        <!-- Noise is sampled independently per pixel on each frame.
                            That pixel's noise value is added to each of its color
                            channels, which at that point lie in the range [0,1]. -->
                        <mean>0.0</mean>
                        <stddev>0.007</stddev>
                    </noise>
                </camera>
                <plugin name="camera_controller" filename="libgazebo_ros_camera.so">
                    <alwaysOn>true</alwaysOn>
                    <updateRate>0.0</updateRate>
                    <cameraName>d435_sim/color</cameraName>
                    <imageTopicName>image_raw</imageTopicName>
                    <cameraInfoTopicName>camera_info</cameraInfoTopicName>
                    <frameName>camera_link</frameName>
                    <hackBaseline>0.07</hackBaseline>
                    <distortionK1>0.0</distortionK1>
                    <distortionK2>0.0</distortionK2>
                    <distortionK3>0.0</distortionK3>
                    <distortionT1>0.0</distortionT1>
                    <distortionT2>0.0</distortionT2>
                </plugin>
                <!--<plugin name="camera_plugin" filename="libgazebo_ros_depth_camera.so">
                    <baseline>0.2</baseline>
                    <alwaysOn>true</alwaysOn>
                    <updateRate>0.0</updateRate>
                    <cameraName>d435_sim</cameraName>
                    <imageTopicName>/camera/color/image_raw</imageTopicName>
                    <cameraInfoTopicName>/camera/color/camera_info</cameraInfoTopicName>
                    <depthImageTopicName>/camera/depth/image_raw</depthImageTopicName>
                    <depthImageCameraInfoTopicName>/camera/depth/camera_info</depthImageCameraInfoTopicName>
                    <pointCloudTopicName>/camera/depth/points</pointCloudTopicName>
                    <frameName>camera_link</frameName>
                    <pointCloudCutoff>0.5</pointCloudCutoff>
                    <pointCloudCutoffMax>3.0</pointCloudCutoffMax>
                    <distortionK1>0</distortionK1>
                    <distortionK2>0</distortionK2>
                    <distortionK3>0</distortionK3>
                    <distortionT1>0</distortionT1>
                    <distortionT2>0</distortionT2>
                    <CxPrime>0</CxPrime>
                    <Cx>0</Cx>
                    <Cy>0</Cy>
                    <focalLength>0</focalLength>
                    <hackBaseline>0</hackBaseline>
                </plugin>-->
            </sensor>
        </gazebo>
    </xacro:macro>
</robot>