<?xml version="1.0"?>
<robot xmlns:xacro="http://wiki.ros.org/xacro" name="ur5" >
    <xacro:arg name="limited" default="true"/>
    <xacro:arg name="camera_on_robot" default="false"/>
    <xacro:arg name="gripper_name" default="robotiq"/>
    <xacro:arg name="transmission_hw_interface" default="hardware_interface/PositionJointInterface"/>
    <xacro:arg name="kinematics_config" default="$(find ur_description)/config/ur5_default.yaml"/>
    <xacro:arg name="environment" default="viro" />

    <link name="world"/>

    <!-- UR5 -->
    <xacro:include filename="$(find ur_description)/urdf/common.gazebo.xacro" />
    <xacro:include filename="$(find ur_description)/urdf/ur5.urdf.xacro" />

    <xacro:if value="$(arg limited)">
        <xacro:ur5_robot prefix="" joint_limited="true"
            shoulder_pan_lower_limit="${-pi}" shoulder_pan_upper_limit="${pi}"
            shoulder_lift_lower_limit="${-pi}" shoulder_lift_upper_limit="${pi}"
            elbow_joint_lower_limit="${-pi}" elbow_joint_upper_limit="${pi}"
            wrist_1_lower_limit="${-pi}" wrist_1_upper_limit="${pi}"
            wrist_2_lower_limit="${-pi}" wrist_2_upper_limit="${pi}"
            wrist_3_lower_limit="${-pi}" wrist_3_upper_limit="${pi}"
            transmission_hw_interface="$(arg transmission_hw_interface)"
            kinematics_file="${load_yaml('$(arg kinematics_config)')}"
        />
    </xacro:if>
    <xacro:unless value="$(arg limited)">
        <xacro:ur5_robot prefix="" joint_limited="false"
            transmission_hw_interface="$(arg transmission_hw_interface)"
            kinematics_file="${load_yaml('$(arg kinematics_config)')}"
        />
    </xacro:unless>

    <!-- environment -->
    <xacro:property name="environment_name" value="$(arg environment)"/>
    <xacro:if value="${environment_name == 'saxion'}">
        <xacro:include filename="$(find triple_s_util)/urdf/saxion_table.urdf.xacro" />
        <xacro:environment parent="world" />

        <joint name="ur5_world_joint" type="fixed">
            <parent link="world"/>
            <child link="base_link"/>
            <origin xyz="0 0.1 1" rpy="0 0 0"/>
        </joint>
    </xacro:if>
    <xacro:if value="${environment_name == 'viro'}">
        <xacro:include filename="$(find triple_s_util)/urdf/viro_table.urdf.xacro" />
        <xacro:environment parent="world" />

        <joint name="ur5_world_joint" type="fixed">
            <parent link="world"/>
            <child link="base_link"/>
            <origin xyz="0 0 0.759" rpy="0 0 0"/>
        </joint>
    </xacro:if>
    

    <!-- Camera Bracket-->
    <link name="camera_bracket">
        <inertial>
            <origin rpy="0 0 0" xyz="0 0.01 -0.2239"/>
            <mass value="0.00995"/>
            <inertia ixx="25.39883" ixy="0.0" ixz="0.0" iyy="31.75919" iyz="-0.4794" izz="6.41732"/>
        </inertial>
        <visual>
            <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
            <geometry>
                <mesh filename="package://triple_s_util/meshes/camera_bracket.stl" scale="0.001 0.001 0.001"/>
            </geometry>
        </visual>
        <collision>
            <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
            <geometry>
                <mesh filename="package://triple_s_util/meshes/camera_bracket.stl" scale="0.001 0.001 0.001"/>
            </geometry>
        </collision>
    </link>
    <joint name="bracket_ur5" type="fixed">
        <parent link="ee_link" />
        <child link="camera_bracket" />
        <origin xyz="0 -0.0305 0.06298" rpy="${pi} 0 ${pi/2}" />
    </joint>


    
    <!-- Gripper -->
    <!-- The following link must be placed on the gripping location on the gripper (between the two fingers)-->
    <link name="gripper_sim_link"/>
    
    <xacro:property name="gripper_name" value="$(arg gripper_name)" />
    <xacro:if value="${gripper_name == 'rg2'}">
        <xacro:include filename="$(find onrobot_rg2)/urdf/rg2.macro.xacro" />
        <xacro:onrobot_rg2 prefix="rg2_" standalone="false"/>
        
        <!-- Link the rg2 to the ur5-->
        <joint name="ur5_gripper_link" type="fixed">
            <parent link="ee_link" />
            <child link="rg2_base_link" />
            <origin xyz="0.002 0 0" rpy="0 0 0" />
        </joint>
        <!-- Define the gripping location-->
        <joint name="gripper_sim_link_joint" type="fixed">
            <parent link="ee_link"/>
            <child link="gripper_sim_link" />
            <origin xyz="0.17 0 0" rpy="0 0 0"/>
        </joint>
    </xacro:if>
    <xacro:if value="${gripper_name == 'robotiq'}">
        <xacro:include filename="$(find robotiq_2f_85_gripper_visualization)/urdf/robotiq_arg2f_85_model_macro.xacro"/>
        <xacro:robotiq_arg2f_85 prefix=""/>

        <joint name="ur5_gripper_link" type="fixed">
            <parent link="ee_link" />
            <child link="robotiq_arg2f_base_link" />
            <origin xyz="0.002 0 0" rpy="0 ${pi/2} 0" />
        </joint>
    </xacro:if>

    <!-- D435 -->
    <xacro:include filename="$(find triple_s_util)/urdf/camerasim.urdf.xacro" />
    <xacro:unless value="$(arg camera_on_robot)">
        <xacro:camerasim parent="world">
            <origin xyz="1 0 0" rpy="0 ${pi/2} 0"/>
        </xacro:camerasim>
    </xacro:unless>
    <xacro:if value="$(arg camera_on_robot)">
        <xacro:camerasim parent="camera_bracket">
            <origin xyz="0.03 0.012 0.025" rpy="${pi} 0 ${pi/2}"/>
        </xacro:camerasim>
    </xacro:if>
</robot>