<?xml version="1.0" ?>
<robot xmlns:xacro="http://wiki.ros.org/xacro" name="camerasim" >
    <xacro:macro name="environment" params="prefix:=environment_ parent">
        <link name="${prefix}table">
            <inertial>
                <origin rpy="0 0 0" xyz="0 0 0"/>
                <mass value="10"/>
                <inertia ixx="8e-06" ixy="-6e-06" ixz="-0.0" iyy="6e-06" iyz="-0.0" izz="1.2e-05"/>
            </inertial>
            <visual>
                <origin xyz="0 0 0" rpy="0 0 0"/>
                <geometry>
                    <mesh filename="package://triple_s_util/meshes/viro/viro_table.dae"/>
                </geometry>
            </visual>
            <collision>
                <origin xyz="0 0 0" rpy="0 0 0"/>
                <geometry>
                    <mesh filename="package://triple_s_util/meshes/viro/viro_table.stl"/>
                </geometry>
            </collision>
        </link>

        <joint name="${prefix}table_joint" type="fixed">
            <parent link="${parent}" />
            <child link="${prefix}table" />
            <origin xyz="0 0 0.05" rpy="0 0 ${pi}" />
        </joint>
    </xacro:macro>
</robot>