<launch>
    <rosparam command="load" file="$(find triple_s_util)/config/dope.yaml" ns="/dope"/>
    <rosparam command="load" file="$(find triple_s_util)/config/bin_picking.yaml" ns="/bin_picking"/>

    <node name="find_object" pkg="triple_s_util" type="find_object.py" output="screen"/>

    <node name="bin_picking_sequencer" pkg="triple_s_util" type="bin_picking_sequencer.py" output="screen"/>
</launch>