<launch>
    <!-- robot_ip: IP-address of the robot's socket-messaging server -->
    <arg name="robot_ip" doc="IP of the controller" />
    <arg name="reverse_port" default="50001" doc="Port on which controller listens for position values passed to servoj thread from the driver" />
    <arg name="script_sender_port" default="50002" doc="The driver will offer an interface to receive the program's URScript on this port. If the robot cannot connect to this port, `External Control` will stop immediately."/>
    <arg name="limited" default="false" doc="If true, limits joint range [-PI, PI] on all joints." />
    <arg name="min_payload"  default="0.0" doc="lower payload bound for the robot" />
    <arg name="max_payload"  default="10.0" doc="upper payload bound for the robot" />
    <arg name="transmission_hw_interface" default="hardware_interface/PositionJointInterface" />
    <arg name="camera_on_robot" default="true" doc="Is the camera linked to the robot? (Otherwise it is static)"/>
    <arg name="gripper" default="robotiq" doc="Set the gripper that is loaded (robotiq or rg2)"/>
    <arg name="tool_voltage" default="0" doc="Tool voltage set at the beginning of the UR program. Only used, when `use_tool_communication` is set to true."/>
    <arg name="tool_parity" default="0" doc="Parity configuration used for tool communication. Only used, when `use_tool_communication` is set to true."/>
    <arg name="tool_baud_rate" default="115200" doc="Baud rate used for tool communication. Only used, when `use_tool_communication` is set to true."/>
    <arg name="tool_stop_bits" default="1" doc="Number of stop bits used for tool communication. Only used, when `use_tool_communication` is set to true."/>
    <arg name="tool_rx_idle_chars" default="1.5" doc="Number of idle chars in RX channel used for tool communication. Only used, when `use_tool_communication` is set to true."/>
    <arg name="tool_tx_idle_chars" default="3.5" doc="Number of idle chars in TX channel used for tool communication. Only used, when `use_tool_communication` is set to true."/>
    <arg name="tool_device_name" default="/tmp/ttyUR" doc="Local device name used for tool communication. Only used, when `use_tool_communication` is set to true."/>
    <arg name="tool_tcp_port" default="54321" doc="Port on which the robot controller publishes the tool comm interface. Only used, when `use_tool_communication` is set to true."/>

    <!-- send robot urdf to param server -->
    <param
        name="robot_description"
        command="$(find xacro)/xacro --inorder
            '$(find triple_s_util)/urdf/ur5.urdf.xacro'
            transmission_hw_interface:=$(arg transmission_hw_interface)
            limited:=$(arg limited)
            camera_on_robot:=$(arg camera_on_robot)
            gripper_name:=$(arg gripper)"
    />

    <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher"/>

    <!-- ur common -->
    <include file="$(find ur_robot_driver)/launch/ur_control.launch">
        <arg name="debug" value="false"/>
        <arg name="use_tool_communication" value="false"/>
        <arg name="controller_config_file" value="$(find ur_robot_driver)/config/ur5_controllers.yaml"/>
        <arg name="script_sender_port" value="$(arg script_sender_port)"/>
        <arg name="kinematics_config" value="$(find triple_s_util)/config/ur5_calibration.yaml"/>
        <arg name="robot_ip" value="$(arg robot_ip)"/>
        <arg name="reverse_port" value="$(arg reverse_port)"/>
        <arg name="tf_prefix" value=""/>
        <arg name="controllers" value="joint_state_controller scaled_pos_joint_traj_controller speed_scaling_state_controller force_torque_sensor_controller robot_status_controller"/>
        <arg name="stopped_controllers" value="pos_joint_traj_controller joint_group_vel_controller"/>
        <arg name="headless_mode" value="false"/>
        <arg name="tool_voltage" value="0"/>
        <arg name="tool_parity" value="$(arg tool_parity)"/>
        <arg name="tool_baud_rate" value="$(arg tool_baud_rate)"/>
        <arg name="tool_stop_bits" value="$(arg tool_stop_bits)"/>
        <arg name="tool_rx_idle_chars" value="$(arg tool_rx_idle_chars)"/>
        <arg name="tool_tx_idle_chars" value="$(arg tool_tx_idle_chars)"/>
        <arg name="tool_device_name" value="$(arg tool_device_name)"/>
        <arg name="tool_tcp_port" value="$(arg tool_tcp_port)"/>
    </include>
</launch>