<?xml version="1.0" ?>
<launch>
    <!-- This file launches gazebo, rviz and moveit planner with a single launchfile-->
    <arg name="limited" default="true" doc="Limits ur joint movement to [-pi,pi]" />
    <arg name="sim" default="true" doc="Set simulation" />
    <arg name="paused" default="false" doc="Launch Gazebo paused" />
    <arg name="gui" default="true" doc="Launch Gazebo GUI" />
    <arg name="robot_ip" default="172.16.0.10" doc="IP of the UR5" />
    <arg name="transmission_hw_interface" default="hardware_interface/PositionJointInterface" />
    <arg name="camera_on_robot" default="true" doc="Is the camera linked to the robot? (Otherwise it is static)"/>
    <arg name="gripper" default="rg2" doc="Set the gripper that is loaded (robotiq or rg2)"/>
    <arg name="poses" default="$(find triple_s_util)/config/poses/test_sim.srdf" doc="Set the file that is loaded for the poses"/>
    <arg name="environment" default="saxion"/>

    <!-- ======== Start gazebo (simulated environment) ======== -->
    <include file="$(find triple_s_util)/launch/gazebo_ur5_gripper.launch" if="$(arg sim)">
        <arg name="paused" value="$(arg paused)" />
        <arg name="gui" value="$(arg gui)" />
        <arg name="transmission_hw_interface" value="$(arg transmission_hw_interface)" />
        <arg name="limited" value="$(arg limited)" />
        <arg name="camera_on_robot" value="$(arg camera_on_robot)"/>
        <arg name="gripper" value="$(arg gripper)"/>
        <arg name="environment" value="$(arg environment)"/>
    </include>

    <!-- Start communication with the robot -->
    <include file="$(find triple_s_util)/launch/physical_robot.launch" unless="$(arg sim)">
        <arg name="robot_ip" value="$(arg robot_ip)" />
        <arg name="limited" value="$(arg limited)" />
        <arg name="transmission_hw_interface" value="$(arg transmission_hw_interface)"/>
        <arg name="camera_on_robot" value="$(arg camera_on_robot)"/>
        <arg name="gripper" value="$(arg gripper)"/>
    </include>

    <!-- Remap the follow_joint_trajectory to the correct namespace when running the real robot -->
    <remap unless="$(arg sim)" from="/follow_joint_trajectory" to="/scaled_pos_joint_traj_controller/follow_joint_trajectory"/>

    <!-- Start the planner execution -->
    <include file="$(find ur5_moveit_config)/launch/ur5_moveit_planning_execution.launch">
        <arg name="sim" value="$(arg sim)" />
        <arg name="limited" value="$(arg limited)" />
    </include>

    <!-- The semantic description that corresponds to the URDF -->
    <param  
        name="robot_description_semantic"
        command="$(find xacro)/xacro
                '$(find triple_s_util)/config/ur5_gripper.srdf.xacro'
                gripper:=$(arg gripper)
                poses:=$(arg poses)"
    />

    <!-- Start rviz to create a planning -->
    <node name="$(anon rviz)" pkg="rviz" type="rviz" respawn="false" args="-d $(find triple_s_util)/config/rviz.rviz" output="screen">
        <rosparam command="load" file="$(find ur5_moveit_config)/config/kinematics.yaml"/>
    </node>
</launch>