<launch>
    <arg name="path" default="$(find triple_s_util)/local_resources/raw_images" doc="Path to save the images" />
    <arg name="camera_raw_topic" default="/d435_sim/color/image_raw" doc="Ros topic to listen to for images" />
    <arg name="camera_info_topic" default="/d435_sim/color/camera_info" doc="Ros topic to fetch the camera_info from" />
    <arg name="camera_info_output" default="camera_info.yaml" doc="Name of the file with the camera info" />
    <arg name="total_images" default="$(eval 10 * 30)" doc="The total amount of images to save" />
    <arg name="start_webcam" default="false" doc="Start the webcam (camera 0)" />

    <include file="$(find dope)/launch/camera.launch" if="$(arg start_webcam)" />

    <node name="video_to_images" pkg="triple_s_util" type="video_to_images.py" output="screen" required="true">
        <param name="path" value="$(arg path)" />
        <param name="camera_raw_topic" value="$(arg camera_raw_topic)" />
        <param name="camera_info_topic" value="$(arg camera_info_topic)" />
        <param name="total_images" value="$(arg total_images)" />
        <param name="camera_info_output" value="$(arg camera_info_output)" />
    </node>
</launch>
