<?xml version="1.0"?>
<robot name="ur5" xmlns:xacro="http://www.ros.org/wiki/xacro">
    <xacro:arg name="gripper" default="robotiq" />
    <xacro:arg name="poses" default="$(find triple_s_util)/config/poses/test_sim.srdf"/>

    <xacro:property name="gripper" value="$(arg gripper)" />
    <xacro:include filename="$(find ur5_moveit_config)/config/ur5.srdf" />

    <xacro:if value="${gripper == 'rg2'}">
        <xacro:include filename="$(find onrobot_rg2)/urdf/rg2.srdf" />
        <disable_collisions link1="camera_bracket" link2="rg2_base_link" />
    </xacro:if>
    <xacro:if value="${gripper == 'robotiq'}">
        <xacro:include filename="$(find robotiq_2f_85_gripper_visualization)/config/robotiq_2f_85.srdf" />
        
        <disable_collisions link1="camera_bracket" link2="robotiq_arg2f_base_link" />
        <disable_collisions link1="robotiq_arg2f_base_link" link2="wrist_3_link" reason="Adjacent" />
    </xacro:if>

    <disable_collisions link1="camera_bracket" link2="wrist_3_link" />
    <disable_collisions link1="base_link" link2="environment_table" />

    <xacro:include filename="$(arg poses)" />
</robot>